<h3>Edit your Cat</h3>

<form action="<%= cat_url(@cat) %>" method="POST">

    <input type="hidden" name="_method" value="PATCH">

    <label for="name">Name: </label>
    <input id="name" type="text" name="cat[name]" value="<%=@cat.name%>">

    <br>
    
    <label for="birth_date">Birthdate: </label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%=@cat.birth_date%>">

    <br>

    <label for="color">Color: </label>
    <select id="color" name="cat[color]">
        <option disabled selected>--Please Select--</option>
        <% Cat::VALID_COLORS.each do |color| %>
        <option value="<%= color %>" <%= "selected" if @cat.color == color %>>
        <%= color %></option>
        <% end %>
    </select>
    
    <br>

    <label for="M"> Male </label>
    <input type="radio" name="cat[sex]" id="M" value="M" <%= "checked" if @cat.sex == "M" %>>
    
    <label for="F"> Female </label>
    <input type="radio" name="cat[sex]" id="F" value="F" <%= "checked" if @cat.sex == "F" %>>

    <br>

    <label for="description">Description: </label>
    <textarea  id="description" name="cat[description]">
        <%= @cat.description %>    
    </textarea>

    <br>


    <input type="submit" value="Create your Kitty!">
</form>